body {
    font-family: Helvetica, Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    background-color: #B3EFFF;
    color: #1C304A;
}

.display {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

select {
    color: #1C304A;
}

.cards {
    padding: 50px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
}

.card {
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color:  #1c2527;
    justify-self: center;
}

.animal {
    display: none;
}

.animalOn {
    height: 150px;
    width: auto;
    display: block;
    background-color: #B3EFFF;
    margin: 0 auto;
}

.correctAnimal {
    height: 150px;
    width: auto;
    display: block;
    background-color: #B3EFFF;
    pointer-events: none;
    margin: 0 auto;
}

.unclick {
    pointer-events: none;
}